name: Continuous Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-lastest
  
  steps:
  - name: SSH and deploy app
    uses: appleboy/ssh-action@main
    with:
      host: ${{ secrets.SSH_HOST }}
      username: ${{ secrets.SSH_USERNAME }}
      key: ${{ secrets.SSH_KEY }}
      port: ${{ secrets.SSH_PORT }}
      script: |
        cd ~/forum-api-project
        git pull origin main
        npm install
        npm run migrate up
        pm2 restart forum-api-project